body {
  background: #eee;
  font-family: "Arial";
}

#main h1 {
  color: #444;
  text-align: center;
  /* margin-block-end: */
  margin-bottom: 0;
}

#mainLogo{
  width:200px;
  margin-top: 20px;
  margin-bottom: 10px;
}

#main h3 {
  margin-right: 0;
  margin-left: auto;
}

#main1 {
  color: #444;
  text-align: center;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

#main {
  padding: 0px;
  box-sizing: border-box;
  width: 60%;
  height: 100%;
}

#customer-list {
  padding: 0;
}


#address-list {
  padding: 0;
}

#customer-list li {
  display: inline-block;
  margin: 12px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #0069C8;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  color: #0069C8;
}

#address-list li {
  display: inline-block;
  margin: 12px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #0069C8;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  color: #0069C8;
}

form {
  background: #fff;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 400px;
}

#add-customer {
  background: #fff;
  padding: 20px;
  position: fixed;
  left: 500px;
  bottom: 0;
  width: 400px;
}

form .field {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

form label {
  text-align: right;
  padding: 6px;
}

form select,
form input {
  margin: 4px 0;
  padding: 6 px;
  box-sizing: border-box;
}

form button {
  color: #fff;
  font-size: 2em;
  background: #0069C8;
  border: 0;
  padding: 0 10px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#customer-details {
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  background: #0069C8;
  padding: 30px;
  overflow: auto;
  box-shadow: -2px -3px 5px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  color: #fff;
}

/* 
#address-details {
  position: fixed;
  top: 0;
  right: 0;
  left: 400px;
  width: 40%;
  height: 100%;
  background: #ad1457;
  padding: 30px;
  overflow: auto;
  box-shadow: -2px -3px 5px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  color: #fff;
} */
